.header {
  @apply w-full z-30;
}

.affixed {
  @apply fixed top-0 left-0;

  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

.opened {
  @apply fixed top-0 left-0 h-screen z-50;
}

.transparent {
  background-color: transparent !important;
}

.headerContainer {
  @apply h-full;
  max-width: 1600px !important;
}

/* layout header components */

.nav {
  @apply content-center flex flex-1 items-center space-x-4 md:space-x-5 xl:space-x-6;
}

.icon {
  @apply w-6 h-6 md:w-8 md:h-8 xl:w-10 xl:h-10;
}

.link {
  @apply items-center leading-loose no-underline uppercase;
}

.button {
  @apply flex flex-full justify-between hover:no-underline p-2 sm:p-3 md:p-4;
}

.switch {
  @apply text-bg-primary hover:text-bg-primary-hover;
}
