.layout {
  @apply min-h-screen;
  background: var(--pattern-graph);
  background-color: var(--color-bg);
}

.panel {
  @apply flex flex-col flex-nowrap xs:m-4 md:m-6 xl:m-8 px-4 xs:pt-2 xs:pb-6 sm:pt-4 sm:pb-8 md:pt-8 md:pb-10 xl:pb-12 bg-paper min-h-screen;

  @media only screen and (min-width: 480px) {
    @apply shadow-md;
    max-width: 480px;
    min-height: auto;
  }

  @media only screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media only screen and (min-width: 1024px) {
    max-width: 960px;
  }

  @media only screen and (min-width: 1280px) {
    max-width: 1024px;
  }
}

.main {
  background-color: transparent;
}

.link {
  @apply flex items-center;
}

.button {
  @apply flex-full justify-between;
}
