/* button patterns */

.default {
  @apply border-solid outline-none font-medium tracking-wide uppercase;

  &.primary {
    @apply bg-primary border-primary text-contrast-primary;
  
    &:hover {
      @apply bg-primary-hover border-primary-hover text-contrast-primary-hover;
    }
  }

  &.secondary {
    @apply bg-secondary border-secondary text-contrast-secondary;
  
    &:hover {
      @apply bg-secondary-hover border-secondary-hover  text-contrast-secondary-hover;
    }
  }
}

.icon {
  border: 0 !important;
  padding: 0 !important;
}

.outline {
  @apply border-paper text-default;
  background-color: transparent !important;

  &:hover {
    @apply border-primary text-hover;
  }

  &.primary {
    @apply border-primary text-contrast-primary;

    &:hover {
      @apply border-secondary text-contrast-secondary;
    }
  }

  &.secondary {
    @apply border-secondary text-contrast-secondary;

    &:hover {
      @apply  border-primary text-contrast-primary;
    }
  }
}

.text {
  @apply leading-normal normal-case text-default text-left;
  background-color: transparent !important;
  border: 0 !important;
  padding: 0 !important;

  &:hover {
    @apply text-hover;
  }

  &.primary {
    @apply text-contrast-primary;

    &:hover {
      @apply text-contrast-secondary;
    }
  }

  &.secondary {
    @apply text-contrast-secondary;

    &:hover {
      @apply text-contrast-primary;
    }
  }
}

/* button colors */

.inherit {
  background-color: inherit !important;
  border-color: inherit !important;
  color: inherit !important;
}

.transparent {
  background-color: transparent !important;
  border-color: transparent !important;
}

/* button sizes */
.xs {
  font-size: 50%;
}

.sm {
  font-size: 75%;
}

.md {
  font-size: 100%;
}
