/* button colors */
.inherit {
  background-color: inherit;
  border-color: inherit;
  color: inherit;
}

.transparent {
  background-color: transparent;
  border-color: transparent;
}

/* button patterns */

.default {
  @apply border-2 border-solid font-medium outline-none tracking-wide uppercase;
}
