.media {
  @apply relative;

  &.background {
    @apply absolute top-1/2 left-1/2 w-full h-screen;
    transform: translate(-50%, -50%);

    & > div {
      @apply w-full h-full;
    }
  }

  &.blurry {
    filter: blur(0.35rem);
  }

  &.gradient {
    &::after {
      @apply absolute top-0 left-0 w-full h-full;
      background: var(--color-bg-gradient);
      content: "";
    }
  }
}

.pattern {
  &.graph {
    background: var(--pattern-graph);
  }
}
