.landingContainer {
  @apply flex items-center;
  min-height: 25vh;

  @media only screen and (min-width: 768px) {
    min-height: 50vh;
  }
}

.media {
  @apply order-last self-end;
  max-width: 768px;
}
