:root {
  /* default colors */
  --color-black: #000;
  --color-white: #fff;
  /* default gray colors */
  --color-gray-50: #f0f0ef;
  --color-gray-100: #d0d0cd;
  --color-gray-200: #b9b8b1;
  --color-gray-300: #a1a097;
  --color-gray-400: #88877c;
  --color-gray-500: #75746c;
  --color-gray-600: #5c5b57;
  --color-gray-700: #454440;
  --color-gray-800: #2a2a27;
  --color-gray-900: #121211;
  /* default purple cololrs */
  --color-purple-100: #f2dafb;
  --color-purple-200: #dea2f6;
  --color-purple-300: #bf4aed;
  --color-purple-400: #970fcc;
  --color-purple-500: #7b0ca6;
  --color-purple-600: #5f0981;
  --color-purple-700: #38054c;
  --color-purple-800: #190221;
  --color-purple-900: #0f0116;
  /* default yellow colors */
  --color-yellow-100: #fefae2;
  --color-yellow-200: #fcee97;
  --color-yellow-300: #fbe76a;
  --color-yellow-400: #fbe141;
  --color-yellow-500: #fbda13;
  --color-yellow-600: #e6c605;
  --color-yellow-700: #c3a804;
  --color-yellow-800: #9e8905;
  --color-yellow-900: #867504;
  /* default service colors */
  --color-service-fail: #e00028;
  --color-service-info: #00dffc;
  --color-service-pass: #26e71d;
  --color-service-warn: #f06c00;
}

.theme-dark {
  /* dark theme background colors */
  --color-background: var(--color-gray-900);
  --color-background-hover: var(--color-gray-600);
  --color-background-paper: var(--color-gray-100);
  --color-background-primary: var(--color-primary-500);
  --color-background-primary-hover: var(--color-gray-900);
  --color-background-secondary: var(--color-secondary-500);
  --color-background-secondary-hover: var(--color-secondary-900);
  /* dark theme text colors */
  --color-text: var(--color-gray-100);
  --color-text-hover: var(--color-primary-500);
  --color-text-paper: var(--color-gray-800);
  --color-text-primary: var(--color-gray-900);
  --color-text-primary-hover: var(--color-primary-500);
  --color-text-primary-dark: var(--color-secondary-400);
  --color-text-primary-light: var(--color-secondary-900);
  --color-text-secondary: var(--color-gray-50);
  --color-text-secondary-hover: var(--color-secondary-500);
  --color-text-secondary-dark: var(--color-primary-500);
  --color-text-secondary-light: var(--color-primary-900);
  /* dark theme primary colors*/
  --color-primary-100: var(--color-yellow-100);
  --color-primary-200: var(--color-yellow-200);
  --color-primary-300: var(--color-yellow-300);
  --color-primray-400: var(--color-yellow-400);
  --color-primary-500: var(--color-yellow-500);
  --color-primary-600: var(--color-yellow-600);
  --color-primary-700: var(--color-yellow-700);
  --color-primary-800: var(--color-yellow-800);
  --color-primary-900: var(--color-yellow-900);
  /* dark theme secondary colors */
  --color-secondary-100: var(--color-purple-100);
  --color-secondary-200: var(--color-purple-200);
  --color-secondary-300: var(--color-purple-300);
  --color-secondary-400: var(--color-purple-400);
  --color-secondary-500: var(--color-purple-500);
  --color-secondary-600: var(--color-purple-600);
  --color-secondary-700: var(--color-purple-700);
  --color-secondary-800: var(--color-purple-800);
  --color-secondary-900: var(--color-purple-900);
}

.theme-light {
  /* light theme background colors */
  --color-background: var(--color-white);
  --color-background-hover: var(--color-gray-400);
  --color-background-paper: var(--color-gray-50);
  --color-background-primary: var(--color-primary-500);
  --color-background-primary-hover: var(--color-primary-600);
  --color-background-secondary: var(--color-secondary-500);
  --color-background-secondary-hover: var(--color-secondary-600);
  /* light theme text colors */
  --color-text: var(--color-gray-900);
  --color-text-hover: var(--color-primary-500);
  --colot-text-paper: var(--color-gray-700);
  --color-text-primary: var(--color-gray-50);
  --color-text-primary-hover: var(--color-secondary-100);
  --color-text-primary-dark: var(--color-white);
  --color-text-primary-light: var(--color-gray-700);
  --color-text-secondary: var(--color-gray-900);
  --color-text-secondary-hover: var(--color-primary-900);
  --color-text-secondary-dark: var(--color-gray-50);
  --color-text-secondary-light: var(--color-gray-800);
  /* light theme primary colors */
  --color-primary-100: var(--color-purple-100);
  --color-primary-200: var(--color-purple-200);
  --color-primary-300: var(--color-purple-300);
  --color-primary-400: var(--color-purple-400);
  --color-primary-500: var(--color-purple-500);
  --color-primary-600: var(--color-purple-600);
  --color-primary-700: var(--color-purple-700);
  --color-primary-800: var(--color-purple-800);
  --color-primary-900: var(--color-purple-900);
  /* light theme secondary colors */
  --color-secondary-100: var(--color-yellow-100);
  --color-secondary-200: var(--color-yellow-200);
  --color-secondary-300: var(--color-yellow-300);
  --color-secondary-400: var(--color-yellow-400);
  --color-secondary-500: var(--color-yellow-500);
  --color-secondary-600: var(--color-yellow-600);
  --color-secondary-700: var(--color-yellow-700);
  --color-secondary-800: var(--color-yellow-800);
  --color-secondary-900: var(--color-yellow-900);
}
