:root {
  /* default colors */
  --color-black: #000;
  --color-white: #fff;
  /* default gray colors */
  --color-gray-50: #f0f0ef;
  --color-gray-100: #d0d0cd;
  --color-gray-200: #b9b8b1;
  --color-gray-300: #a1a097;
  --color-gray-400: #88877c;
  --color-gray-500: #75746c;
  --color-gray-600: #5c5b57;
  --color-gray-700: #454440;
  --color-gray-800: #2a2a27;
  --color-gray-900: #121211;
  /* default purple cololrs */
  --color-purple-100: #f2dafb;
  --color-purple-200: #dea2f6;
  --color-purple-300: #bf4aed;
  --color-purple-400: #970fcc;
  --color-purple-500: #7b0ca6;
  --color-purple-600: #5f0981;
  --color-purple-700: #38054c;
  --color-purple-800: #190221;
  --color-purple-900: #0f0116;
  /* default yellow colors */
  --color-yellow-100: #fefae2;
  --color-yellow-200: #fcee97;
  --color-yellow-300: #fbe76a;
  --color-yellow-400: #fbe141;
  --color-yellow-500: #fbda13;
  --color-yellow-600: #e6c605;
  --color-yellow-700: #c3a804;
  --color-yellow-800: #9e8905;
  --color-yellow-900: #867504;
  /* default service colors */
  --color-service-fail: #e00028;
  --color-service-info: #00dffc;
  --color-service-pass: #26e71d;
  --color-service-warn: #f06c00;
  /* default brand colors */
  --color-brand-facebook: #1877f2;
  --color-brand-instagram: #e4405f;
  --color-brand-linkedin: #0077b5;
  --color-brand-twitter: #1da1f2;
  --color-brand-yelp: #d32323;
}

.dark {
  /* dark theme background colors */
  --color-bg: var(--color-gray-900);
  --color-bg-hover: var(--color-gray-700);
  --color-bg-contrast: var(--color-gray-25);
  --color-bg-contrast-hover: var(--color-gray-100);
  --color-bg-dark: var(--color-black);
  --color-bg-dark-hover: var(--color-gray-800);
  --color-bg-light: var(--color-gray-75);
  --color-bg-light-hover: var(--color-gray-200);
  --color-bg-paper: var(--color-gray-400);
  --color-bg-paper-hover: var(--color-gray-600);
  /* dark theme primary background colors */
  --color-bg-primary: var(--color-primary-500);
  --color-bg-primary-hover: var(--color-primary-600);
  --color-bg-primary-contrast: var(--color-gray-900);
  --color-bg-primary-constrast-hover: var(--color-primary-700);
  --color-bg-primary-dark: var(--color-primary-900);
  --color-bg-primary-dark-hover: var(--color-primary-800);
  --color-bg-primary-light: var(--color-primary-100);
  --color-bg-primary-light-hover: var(--color-primary-200);
  --color-bg-primary-paper: var(--color-primary-300);
  --color-bg-primary-paper-hover: var(--color-primary-400);
  /* dark theme secondary background colors */
  --color-bg-secondary: var(--color-secondary-500);
  --color-bg-secondary-hover: var(--color-secondary-600);
  --color-bg-secondary-contrast: var(--color-gray-800);
  --color-bg-secondary-constrast-hover: var(--color-secondary-700);
  --color-bg-secondary-dark: var(--color-secondary-900);
  --color-bg-secondary-dark-hover: var(--color-secondary-800);
  --color-bg-secondary-light: var(--color-secondary-100);
  --color-bg-secondary-light-hover: var(--color-secondary-200);
  --color-bg-secondary-paper: var(--color-secondary-300);
  --color-bg-secondary-paper-hover: var(--color-secondary-400);
  /* dark theme text colors */
  --color-text: var(--color-gray-25);
  --color-text-hover: var(--color-primary-500);
  --color-text-contrast: var(--color-gray-900);
  --color-text-contrast-hover: var(--color-gray-700);
  --color-text-dark: var(--color-white);
  --color-text-dark-hover: var(--color-gray-100);
  --color-text-light: var(--color-gray-800);
  --color-text-light-hover: var(--color-gray-600);
  --color-text-paper: var(--color-black);
  --color-text-paper-hover: var(--color-primary-900);
  /* dark theme primary text colors */
  --color-text-primary: var(--color-white);
  --color-text-primary-hover: var(--color-primary-100);
  --color-text-primary-constrast: var(--color-gray-25);
  --color-text-primary-constrast-hover: var(--color-primary-200);
  --color-text-primary-dark: var(--color-secondary-100);
  --color-text-primary-dark-hover: var(--color-secondary-200);
  --color-text-primary-light: var(--color-secondary-900);
  --color-text-primary-light-hover: var(--color-secondary-800);
  --color-text-primary-paper: var(--color-color-primary-900);
  --color-text-primary-paper-hover: var(--color-primary-800);
  /* dark theme secondary text colors */
  --color-text-secondary: var(--color-gray-50);
  --color-text-secondary-hover: var(--color-secondary-100);
  --color-text-secondary-constrast: var(--color-gray-200);
  --color-text-secondary-constrast-hover: var(--color-gray-300);
  --color-text-secondary-dark: var(--color-primary-100);
  --color-text-secondary-dark-hover: var(--color-primary-200);
  --color-text-secondary-light: var(--color-primary-900);
  --color-text-secondary-light-hover: var(--color-primary-800);
  --color-text-secondary-paper: var(--color-secondary-900);
  --color-text-secondary-paper-hover: var(--color-secondary-800);
  /* dark theme primary colors*/
  --color-primary-100: var(--color-yellow-100);
  --color-primary-200: var(--color-yellow-200);
  --color-primary-300: var(--color-yellow-300);
  --color-primray-400: var(--color-yellow-400);
  --color-primary-500: var(--color-yellow-500);
  --color-primary-600: var(--color-yellow-600);
  --color-primary-700: var(--color-yellow-700);
  --color-primary-800: var(--color-yellow-800);
  --color-primary-900: var(--color-yellow-900);
  /* dark theme secondary colors */
  --color-secondary-100: var(--color-purple-100);
  --color-secondary-200: var(--color-purple-200);
  --color-secondary-300: var(--color-purple-300);
  --color-secondary-400: var(--color-purple-400);
  --color-secondary-500: var(--color-purple-500);
  --color-secondary-600: var(--color-purple-600);
  --color-secondary-700: var(--color-purple-700);
  --color-secondary-800: var(--color-purple-800);
  --color-secondary-900: var(--color-purple-900);
}

.light {
  /* light theme background colors */
  --color-bg: var(--color-gray-25);
  --color-bg-hover: var(--color-gray-100);
  --color-bg-contrast: var(--color-gray-400);
  --color-bg-contrast-hover: var(--color-gray-300);
  --color-bg-dark: var(--color-gray-500);
  --color-bg-dark-hover: var(--color-gray-600);
  --color-bg-light: var(--color-white);
  --color-bg-light-hover: var(--color-gray-75);
  --color-bg-paper: var(--color-gray-50);
  --color-bg-paper-hover: var(--color-gray-200);
  /* light theme primary background colors */
  --color-bg-primary: var(--color-primary-500);
  --color-bg-primary-hover: var(--color-primary-600);
  --color-bg-primary-contrast: var(--color-gray-700);
  --color-bg-primary-constrast-hover: var(--color-primary-700);
  --color-bg-primary-dark: var(--color-primary-900);
  --color-bg-primary-dark-hover: var(--color-primary-800);
  --color-bg-primary-light: var(--color-primary-100);
  --color-bg-primary-light-hover: var(--color-primary-200);
  --color-bg-primary-paper: var(--color-primary-300);
  --color-bg-primary-paper-hover: var(--color-primary-400);
  /* light theme secondary background colors */
  --color-bg-secondary: var(--color-secondary-500);
  --color-bg-secondary-hover: var(--color-secondary-600);
  --color-bg-secondary-contrast: var(--color-gray-600);
  --color-bg-secondary-constrast-hover: var(--color-secondary-700);
  --color-bg-secondary-dark: var(--color-secondary-900);
  --color-bg-secondary-dark-hover: var(--color-secondary-800);
  --color-bg-secondary-light: var(--color-secondary-100);
  --color-bg-secondary-light-hover: var(--color-secondary-200);
  --color-bg-secondary-paper: var(--color-secondary-300);
  --color-bg-secondary-paper-hover: var(--color-secondary-400);
  /* light theme text colors */
  --color-text: var(--color-gray-900);
  --color-text-hover: var(--color-primary-500);
  --color-text-contrast: var(--color-secondary-900);
  --color-text-contrast-hover: var(--color-secondary-700);
  --color-text-dark: var(--color-white);
  --color-text-dark-hover: var(--color-gray-75);
  --color-text-light: var(--color-black);
  --color-text-light-hover: var(--color-gray-800);
  --color-text-paper: var(--color-gray-700);
  --color-text-paper-hover: var(--color-gray-600);
  /* light theme primary text colors */
  --color-text-primary: var(--color-white);
  --color-text-primary-hover: var(--color-primary-100);
  --color-text-primary-constrast: var(--color-gray-300);
  --color-text-primary-constrast-hover: var(--color-primary-300);
  --color-text-primary-dark: var(--color-gray-50);
  --color-text-primary-dark-hover: var(--color-secondary-100);
  --color-text-primary-light: var(--color-secondary-900);
  --color-text-primary-light-hover: var(--color-secondary-800);
  --color-text-primary-paper: var(--color-color-primary-700);
  --color-text-primary-paper-hover: var(--color-primary-800);
  /* light theme secondary text colors */
  --color-text-secondary: var(--color-gray-900);
  --color-text-secondary-hover: var(--color-primary-700);
  --color-text-secondary-constrast: var(--color-gray-25);
  --color-text-secondary-constrast-hover: var(--color-gray-100);
  --color-text-secondary-dark: var(--color-primary-100);
  --color-text-secondary-dark-hover: var(--color-primary-200);
  --color-text-secondary-light: var(--color-primary-900);
  --color-text-secondary-light-hover: var(--color-primary-800);
  --color-text-secondary-paper: var(--color-secondary-700);
  --color-text-secondary-paper-hover: var(--color-secondary-600);
  /* light theme primary colors */
  --color-primary-100: var(--color-purple-100);
  --color-primary-200: var(--color-purple-200);
  --color-primary-300: var(--color-purple-300);
  --color-primary-400: var(--color-purple-400);
  --color-primary-500: var(--color-purple-500);
  --color-primary-600: var(--color-purple-600);
  --color-primary-700: var(--color-purple-700);
  --color-primary-800: var(--color-purple-800);
  --color-primary-900: var(--color-purple-900);
  /* light theme secondary colors */
  --color-secondary-100: var(--color-yellow-100);
  --color-secondary-200: var(--color-yellow-200);
  --color-secondary-300: var(--color-yellow-300);
  --color-secondary-400: var(--color-yellow-400);
  --color-secondary-500: var(--color-yellow-500);
  --color-secondary-600: var(--color-yellow-600);
  --color-secondary-700: var(--color-yellow-700);
  --color-secondary-800: var(--color-yellow-800);
  --color-secondary-900: var(--color-yellow-900);
}
