/* TODO: deprecate in favor of css modules */

@layer utilities {
  .contained {
    & > .container {
      @apply max-w-none p-0;
    }
  }

  .fluid {
    position: relative;
    left: 50%;
    right: 50%;
    width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}
