.footer {
  @apply items-end text-center md:text-left;
}

/* layout footer patterns */

.default {
  @apply pt-12 md:pt-14 xl:pt-16;
}

/* layout footer components */

.wrapper {
  @apply flex flex-col flex-nowrap md:flex-row md:flex-wrap;
  @apply content-between items-center md:items-end justify-between;
}

.box {
  @apply flex flex-col flex-nowrap;
  @apply flex-full md:flex-1;
  @apply mt-4 md:mt-5 xl:mt-6;
}

.caption {
  @apply flex space-x-1 mt-1;
  @apply items-center justify-center md:justify-start;
}

.icon {
  @apply inline-flex mr-1;
}

.nav {
  @apply flex flex-row flex-wrap;
  @apply items-center justify-center md:justify-start;
  @apply mt-3 space-x-4 md:space-x-5 xl:space-x-6;
}

.link {
  @apply no-underline uppercase;

  &:hover,
  &.active {
    @apply underline;

    &.facebook {
      color: var(--color-brand-facebook);
    }
  
    &.instagram {
      color: var(--color-brand-instagram);
    }
  
    &.linkedin {
      color: var(--color-brand-linkedin);
    }

    &.mailchimp {
      color: var(--color-brand-mailchimp);
    }

    &.twitter {
      color: var(--color-brand-twitter);
    }
  
    &.yelp {
      color: var(--color-brand-yelp);
    }
  }
}

/* footer patterns */

.under {
  @apply fixed bottom-0;
  @apply w-screen;
  @apply z-10;
}
