.footer {
  @apply items-end text-center lg:text-left;
}

/* layout footer patterns */

.default {
  @apply pt-12 md:pt-14 xl:pt-16;
}

/* layout footer components */

.wrapper {
  @apply flex flex-col flex-nowrap lg:flex-row lg:flex-wrap content-between items-center lg:items-end justify-between;
}

.box {
  @apply flex flex-col flex-nowrap flex-full lg:flex-1;
}

.list {
  @apply flex flex-row flex-wrap space-x-4 md:space-x-5 xl:space-x-6;
}

.link {
  &:hover {
    @apply no-underline;

    &.facebook {
      color: var(--color-brand-facebook);
    }
  
    &.instagram {
      color: var(--color-brand-instagram);
    }
  
    &.linkedin {
      color: var(--color-brand-linkedin);
    }

    &.twitter {
      color: var(--color-brand-twitter);
    }
  
    &.yelp {
      color: var(--color-brand-yelp);
    }
  }
}
